* {
    margin: 0;
    padding: 0;
}

@import url(https://fonts.google.com/specimen/Outfit#styles);

body {
    font-family: 'Outfit', sans-serif;
    background: hsla(212, 45%, 89%, 1);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.container {
    max-width: 320px;
    margin: 0 auto;
}

.card {
    background-color: hsl(0, 0%, 100%);
    padding: 16px;
    border-radius: 22px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 12px;
}

.text {
    padding: 22px 12px;
}

.text h2 {
    color: hsl(218, 44%, 22%);
    padding-bottom: 16px;
}

.text p {
    color: hsl(220, 15%, 55%);
}